html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFBF5;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #9A3197;
    color: #fff;
    padding: 10px;
    text-align: left;
}

#logo {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    border-radius: 50%;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    color: #FEF3C7;
    margin-left: 10px;
}

nav {
    background-color: #E084CD;
    padding: 10px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #FDF6FD;
    margin: 10px;
}

/* Content section */
.content {
    margin: 30px;
}

.search-bar {
    text-align: center;
}

.search-text {
    margin-bottom: 10px;
    color: #9A3197;
    text-align: left;
}

.orange-text {
    margin-top: 0%;
    color: #F59E0B;
}

#search-input {
    padding: 5px;
    margin-right: 5px;
}

#search-button {
    padding: 5px 10px;
    cursor: pointer;
    border-color: #FDF6FD;
    color: #FDF6FD;
    background-color: #9A3197;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #E5D5C0;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #FAF4EC;
}
/* Media queries for responsive design */
@media (max-width: 1000px) {

}
