html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFBF5;
}

body {
    display: flex;
    flex-direction: column;
}

/* Content section */
.content {
    margin: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.login-form {
    background-color: #FAF4EC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-text {
    margin-bottom: 10px;
    color: #9A3197;
    text-align: left;
    align-self: flex-start;
}
.login-image {
    width: 200px; 
    height: auto;
}

.login-inputs {
    margin-bottom: 20px;
    width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Login buttons styles */
.login-buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-color: #FDF6FD;
    color: #FDF6FD;
    background-color: #9A3197;
}

button:hover {
    background-color: #9A3197;
    color: #fff;
}

/* Media queries for responsive design */
@media (max-width: 1000px) {

}
